.btn {
    display: inline-block;
    background-color: var(--color-primary);
    font-size: 1rem;
    font-weight: 500;
    border: none;
    padding: 1.25rem 4.5rem;
    border-radius: 10rem;
    cursor: pointer;
    transition: all 0.3s;

    &:hover {
        background-color: var(--color-primary-darker);
    }
}

.btn-text {
    display: inline-block;
    background: none;
    font-size: 1rem;
    font-weight: 500;
    color: var(--color-primary);
    border: none;
    border-bottom: 1px solid currentColor;
    padding-bottom: 2px;
    cursor: pointer;
    transition: all 0.3s;
}

.btn-wrapper {
    display: flex;
    justify-content: center;
    grid-column: span 2;
}
