.btn {
  display: inline-block;
  background-color: var(--color-primary);
  font-size: 1rem;
  font-weight: 500;
  border: none;
  padding: 1.25rem 4.5rem;
  border-radius: 10rem;
  cursor: pointer;
  transition: all 0.3s;
 

  &:hover {
    background-color: var(--color-primary-darker);
  }
}

.btn--text {
  display: inline-block;
  background: none;
  font-size: 1rem;
  font-weight: 500;
  color: var(--color-primary);
  border: none;
  border-bottom: 1px solid currentColor;
  padding-bottom: 2px;
  cursor: pointer;
  transition: all 0.3s;
}



.image-button {
  background-image: url('/img/test.png');
  background-size: cover;
  width: 100px;
  height: 100px;
  border: none;
  cursor: pointer;
  background-color: transparent;
}
