.question {
    margin: 2rem 0;
    font-size: 3rem;
}

.answer {
    margin: 1rem 0;
    font-size: 1.5rem;
}
.login-details {
    margin: 1rem 0;
    line-height: 1.5;
}

.functionality-answer {
    line-height: 1.5;
}
