.footer {
    padding: 5rem 3rem;
    background-color: hsl(230, 5%, 23%);
}

.footer-nav {
    list-style: none;
    display: flex;
    justify-content: center;
    margin-bottom: 5rem;
}

.footer-item {
    margin-right: 4rem;
}

.footer-link {
    font-size: 1.2rem;
    color: hsl(0, 0%, 93%);
    text-decoration: none;
}

.footer-logo {
    height: 5rem;
    display: block;
    margin: 0 auto;
    margin-bottom: 5rem;
}

.footer-copyright {
    color: hsl(0, 0%, 67%);
    text-align: center;
}
