/* NAVIGATION */
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 9rem;
  width: 100%;
  padding: 6rem 10rem;

  &.sticky {
    position: fixed;
    background-color: hsla(0, 0%, 100%, 0.949);
  }
}

.nav-logo {
  height: 2.5rem;
  transition: all 0.3s;
}

.nav-links {
  display: flex;
  align-items: center;
  list-style: none;
  .nav-item {
    margin-left: 4rem;

    .nav-link {
      font-size: 1.2rem;
      font-weight: bold;
      display: block;
      transition: all 0.3s;
      color: var(--font-color);

      &:hover,
      &:active {
        color: var(--color-primary);
      }
    }
    .nav-link--btn {
      padding: 0.8rem 2.5rem;
      border-radius: 3rem;
      background-color: var(--color-primary);
      color: var(--font-color);
    }

    .nav-link--btn:hover,
    .nav-link--btn:active {
      background-color: var(--color-primary-darker);
      color: hsl(0, 0%, 20%);
    }
  }
}
