/* NAVIGATION */
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 9rem;
  width: 100%;
  padding: 0 6rem;
  z-index: 100;
}

/* nav and stickly class at the same time */
.nav.sticky {
  position: fixed;
  background-color: hsla(0, 0%, 100%, 0.949);
}

.nav-logo {
  height: 4.5rem;
  transition: all 0.3s;
}

.nav-links {
  display: flex;
  align-items: center;
  list-style: none;
}

.nav-item {
  margin-left: 4rem;
}

.nav-link:link,
.nav-link:visited {
  font-size: 1.7rem;
  font-weight: 400;
  color: inherit;
  text-decoration: none;
  display: block;
  transition: all 0.3s;
}

.nav-link--btn:link,
.nav-link--btn:visited {
  padding: 0.8rem 2.5rem;
  border-radius: 3rem;
  background-color: var(--color-primary);
  color: hsl(0, 0%, 13%);
}

.nav-link--btn:hover,
.nav-link--btn:active {
  color: inherit;
  background-color: var(--color-primary-darker);
  color: hsl(0, 0%, 20%);
}