/* SIGNUP */
.section--sign-up {
  background-color: hsl(230, 5%, 23%);
  border-top: none;
  border-bottom: 1px solid hsl(0, 0%, 27%);
  text-align: center;
  padding: 10rem 3rem;
}

.section--sign-up .section-header {
  color: hsl(0, 0%, 100%);
  text-align: center;
}

.section--sign-up .section-title {
  margin-bottom: 6rem;
}

.section--sign-up .btn {
  font-size: 1.9rem;
  padding: 2rem 5rem;
}