@import 'reset';
@import 'colors';
@import 'button';
@import 'navbar';
@import 'main';
@import 'modal';
@import 'bank';

* {
    border: 1px solid red; /* This will apply a red border around all elements */
}

body {
    font-family: 'Raleway', sans-serif;
    color: var(--font-color);
    background-color: hsl(180, 3%, 94%);
}

.lazy {
    filter: blur(20px);
}

.visually-hidden {
    display: none;
}
