@import 'reset';
@import 'colors';
@import 'button';
@import 'nav';
@import 'header';
@import 'features';
@import 'operations';
@import 'testimonials';
@import 'signup';
@import 'slider';
@import 'footer';
@import 'modal';

body {
  font-family: 'Raleway', sans-serif;
  color: hsl(0, 0%, 27%);
  background-color: hsl(0, 0%, 91%);
}

/* GENERAL ELEMENTS */
.section {

  border-top: 1px solid hsl(0, 0%, 87%);

  transition: transform 1s, opacity 1s;
}

.section--hidden {
  opacity: 0;
  transform: translateY(8rem);
}

.section-title {
  max-width: 80vw;
}

.section-description {
  text-transform: uppercase;
  color: var(--color-primary);
  margin-bottom: 1rem;
}

.section-header {
  font-size: 4rem;
  line-height: 1.3;
  font-weight: 500;
}

p {
  color: hsl(0, 0%, 40%);
}

img {
  transition: filter 0.5s;
}

.lazy-img {
  filter: blur(20px);
}

/* COOKIE MESSAGE */
.cookie-message {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  background-color: hsl(0, 0%, 100%);
  color: hsl(0, 0%, 73%);
  font-size: 1.5rem;
  font-weight: 400;
}
