@import 'reset';
@import 'grid';
@import 'colors';
@import 'button';
@import 'nav';
@import 'header';
@import 'features';
@import 'operations';
@import 'testimonials';
@import 'slider';
@import 'faq';
@import 'footer';
@import 'modal';
@import 'bank';

body {
  font-family: 'Raleway', sans-serif;
  color: var(--font-color);
  background-color: var(--bg-color);
}

/* GENERAL ELEMENTS */
.section {
  border-top: 1px solid hsl(0, 0%, 87%);
  padding: 6rem 10rem;
  transition: transform 1s, opacity 1s;
}

.section--hidden {
  opacity: 0;
  transform: translateY(8rem);
}

.section-description {
  text-transform: uppercase;
  color: var(--color-primary);
  margin-bottom: 3rem;
}

.section-header {
  font-size: 4rem;
  line-height: 1.3;
  font-weight: 500;
}

p {
  color: var(--font-color-lighter);
}

img {
  transition: filter 0.5s;
}

.lazy-img {
  filter: blur(20px);
}

